[user]
	name = Rodrigo Villalobos
	email = rodrigovilla3@gmail.com
[url "https://"]
	insteadOf = git://
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
